*{
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(84, 83, 83);
    gap: 5px;
    margin-left: 140px;
    height: 40px;
    width: 750px;
  }
  
  .search-input {
    width: 250px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    color: white;
  }
  
  .search-button, .mic-button, .icon-button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    /* background-color: #333; */

  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
.para{
    /* margin-left: 200px; */
    font-size: 18px;
}
.hr{
    width: 1300px;
    margin-left: 10px;
    margin-top: 12px;
}
.content p{
    color: black;
}
.content{
color: black;
background-color: white;
}
.navtext{
    
    border-radius: 40px;
    background-color:rgb(63, 60, 60) ;
  padding: 4px 10px;
  font-size: 14px;
    color: white;
    text-align: center; 
  
}
.navtext.all{
    background-color: white;
    color: black;
}

.suggestion{
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}

.strip{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 2px solid red; */
    height: 200px;
}
.thumbnail{
    font-size: 14px;
    /* margin-top: -11px; */
   margin-left: 37px;
    color: grey;
}
.verify{
    height: 15px;
    width: 15px;
    margin-left: 10px;
}
#logo1{
    margin-left: 1px;
    margin-top: 5px;
}
.mayur{
    margin-left: 39px;
    margin-top: -26px;
    font-size: 15px;
}

.xxx{
    width: 270px;
    height: 135px;
}
.img-main{
    /* height: ; */
    width: 300px;
}