.main-cointainer{
    background-color: #020202;
    width: 18%;
    height: 100vh;
}

hr{
    border: 1px solid rgb(84, 83, 83);
        margin-top: 18px;

}

.logo-box{
    display: flex;
    gap: 20px;
    /* margin-top: 20px; */
    padding: 30px;
    margin-left: 10px;
}
.home-btn{
    display: flex;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    margin-left: 35px;
    margin-top: 12px;
}
.home-btn:hover {
    background-color: #0b0909;
    box-shadow: 0 4px 15px rgba(93, 166, 244, 0.5);
    transform: scale(1.05);
    border-radius: 8px; 
  }
 
.subscription{
    font-size: 17px;
    color: grey;
    margin-left: 29px;
    margin-top: 10px;
}
